*::before, *::after {
  box-sizing: border-box;
  font-family: monospace;
}

:root {
    --first: rgb(102, 24, 10);
    --second: rgb(150, 150, 150);
    --third: rgb(27, 51, 71);
    --fourth: rgb(35, 35, 35);
    --wrong: rgb(255, 22, 12);
    --correct: rgb(34, 139, 34);
  }
  
  /*container styling*/
  #container {
    width: 80rem;
    max-width: 80%;
    background-color: var(--fourth);
    border-radius: 1rem;
  }
  
  /*body styling*/
  
  body {
    background: var(--third);
    color: var(--second);
    font-size: 2rem;
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  body.correct {
    color: var(--correct);
  }
  
  body.wrong {
    color: var(--wrong);
  }
  
  .question {
    font-weight: bolder;
    font-size: 2.5rem;
  }
  
  /* Header Styling */
  
  header {
    text-align: center;
    padding: 2rem;
    padding-top: 0px;
    font-size: 3rem;
  }
  /* Question Styling */
  
  .question {
    font-weight: 700;
  }
  
  .answers {
    display: block;
  }
  
  .answers label {
    display: block;
  }

  .controls {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* Button Styling */
  .start-btn, .next-btn {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 1rem;
  }

  .btn {
    outline: none;
    border: solid .2rem var(--second);
    background: var(--first);
    border-radius: 1rem;
    font-size: 2rem;
    line-height: 1rem;
    gap: 1rem;
    cursor: pointer;
    position: relative;
    margin: auto;
    text-align: center;
  }

  .btn.correct {
  --hue: var(--wrong);
  color: var(--fourth);
  }

  .btn.wrong {
color: var(--wrong);
  }
  
  button:hover {
    background-color: rgba(102, 24, 10, 0.8);
  }
  
  button:active {
    box-shadow: 0 0px var(--third);
    color: var(--third);
    top: 0;
  }

  .btn-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 1rem;
  }

 .hide {
   display: none;
 }


  a {
    text-decoration: none;
  }

  .row {
    margin: 1rem;
  }
  
  /* Media Query #1: For Smaller Desktop Screens and Smaller Devices */
  @media screen and (max-width: 980px) {
    header {
      padding-bottom: 0;
      justify-content: center;
      position: relative;
    }
  
    header h1 {
      width: 100%;
      text-align: center;
    }
  }